.container {
  overflow: hidden;
}

.home {
  display: flex;
  align-items: center;
  animation: alternate;
  margin: 20px 0;
  background-color: #007bff;
  width: 95%;
  height: 120px;
  border-radius: 0 80px 80px 0;
  position: relative;
  left: -100px;
  animation: moveRight 3s ease-in-out forwards; /* Aplica a animação */
}

@keyframes moveRight {
  0% {
    left: -100%; /* Começa escondida à esquerda */
  }
  100% {
    left: calc(100% - 100%); /* Move para a direita e para */
  }
}

.home_description {
  font-size: 26px;
  letter-spacing: 0.2px;
  margin: auto 30px auto 30px;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: #f2f2f2;
}

.image_home {
  width: 100%;
}
