.navComponent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 64px;
  background-color: #f2f2f2;
  color: #007bff;
}

.navComponent h1 {
  text-transform: uppercase;
  margin: 0px;
}

.toolBox {
  display: flex;
}

.navComponent .toolList {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 0px;
  margin: 0px;
}

.navComponent .toolList a {
  padding: 8px;
  font-size: 18px;
  text-decoration: none;
}

.navComponent .active {
  transition: 0.4s;
  background-color: #007bff;
  color: #f2f2f2;
  border-radius: 5px;
}

.navComponent a {
  color: #007bff;
  letter-spacing: 0.2px;
}

@media (max-width: 660px) {
  .navComponent {
    padding: 10px 10px;
  }

  .navComponent .toolList {
    gap: 2px;
  }

  .navComponent .toolList a {
    font-size: 16px;
  }
}
