/*StockPage*/

.stock-page {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.stock-page h1 {
  font-size: 24px;
  margin-bottom: 16px;
  color: #007bff;
}

.stock-page .back-btn {
  background-color: white;
  color: #0056b3;
  border: 1px solid #0056b3;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.stock-page .back-btn:hover {
  background-color: white;
  border: 1.5px solid #0056b3;

  transform: scale(1.02);
}

.stock-page button {
  background-color: #007bff;
  color: white;
}

.stock-page button:hover {
  background-color: #0056b3;
}

.stock-page .product-section {
  margin-top: 20px;
}
