/*index.css*/

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* Fundo claro */
  color: #212529; /* Texto primário */
  height: 100%;
}

/* Links */
a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Nav Links */

.nav-links {
  text-decoration: none;
  color: #fff;
}

/* Error and Success */
.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.success {
  color: #012703;
  background-color: #caffc9;
  border: 1px solid #abffa8;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
